@font-face {
	font-family: "Aver";
	src: url("../fonts/Aver/fontface.eot");
	src: url("../fonts/Aver/fontface.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/Aver/fontface.woff") format("woff"),
			 url("../fonts/Aver/fontface.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "HelveticaRounded LT Bold";
	src: url("../fonts/Helvetica\ Rounded\ LT\ Black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* @font-face {
	font-family: "Montserrat-Bold";
	src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
} */

@font-face {
	font-family: "MyriadPro-Regular";
	src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
	src: url("../fonts/MyriadPro/MyriadPro-Regular.eot") format("embedded-opentype"),
			 url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"),
			 url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Segoe ui emoji";
	src: url("../fonts//Segoe\ ui\ emoji.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}