@mixin clearfix { //очистка потока
  content: "";
	display: table;
	clear: both;
}

@mixin bgpos { //расположение бэкграунда
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@mixin coverpos{ //позционирование фона с наложением на картинку
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@mixin verAl { //вертикальное выравнивание
  margin: 0 auto;
  display: block;
 	position: relative;
	top: 50%;
  transform: translateY(-50%);
}

@mixin title ($w, $h, $c) { //горизонтальные линии у заголовка
  overflow: hidden;

  span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  &:before,
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: $w;
    height: $h;
    background-color: $c;
    position: relative;
  }

  &:before {
    margin-left: -100%;
    left: -0.2%;
  }

  &:after {
    margin-right: -100%;
    right: -0.2%;
  }
}

@mixin gamburger ($w, $h, $c, $colorbg) {  //кнопка-гамбургер для меню
  border: none;
  background: none;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  z-index: 10000;

  &:hover {
    background: $colorbg;
  }

  &__line {
    display: block;
    width: $w;
    height: $h;
    border-radius: 1px;
    background: $c;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
