@import '_mixsins.scss';
@import url('normalize.css');


$ff: Montserrat;
$fc1: #fde428;
$fc2: #002e5b;
$fcText1: #ffffff;
$fcText2: #4e4e4e;
$fcText3: #666666;

/* Общие правила*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix:after {
  @include clearfix;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.56;
  font-family: $ff;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.hide {
  visibility: hidden;
}

/*----------------------------------------------------*/

/*Шапка*/

.row__header {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.page__header {
  position: absolute;
  left: 0;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  z-index: 100;
  box-sizing: border-box;
  padding-top: 2.1rem;
}

.header__logo {
  float: left;
}

.header__nav {
  float: right;
}

/*Логотип*/
.logo__title {
  a {
    color: $fc1;
    font-family: $ff;
    font-size: 2.813rem;
    font-weight: 700;
    text-decoration: none;
  }
}

.logo__slogan {
  margin-top: -1.25rem;

  a {
    font-family: $ff;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    text-decoration: none;
    color: $fcText1;
  }
}

/*Меню*/
.nav__item {
  float: left;
  list-style: none;
  margin-left: 2.625rem;
}

.nav__link {
  transition: all ease 0.7s;
  text-decoration: none;
  color: $fcText1;
  font-family: $ff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 3.64;
  text-transform: uppercase;
  letter-spacing: 0.035rem;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 1.5px solid $fc1;
  }
}

.nav__link.active {
  font-weight: 700;
  border-bottom: 1.5px solid $fc1;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:last-child {
  margin-left: 2rem;
  line-height: 3.057;
}

/*Выпадающий список выбора языка*/
.nav__dropDown {
  position: relative;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-position: 100% 47%;
  width: 3.3rem;
}

.nav__list-dropDown {
  list-style: none;
  padding: 0;
  position: absolute;
}

.nav__dropDown:hover {
  cursor: pointer;
  ;
}

.nav__dropDown>img {
  transform: translateY(22%); //сдвигаем флаг вниз для центрирования
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(22%);
  -ms-transform: translateY(22%);
  -o-transform: translateY(22%);
  -webkit-transform: translateY(22%);
}

/*Слайдер*/
.slider__item {
  height: 56rem;
  padding-top: 2.1rem;
  @include bgpos;
}

.border-slider__base {
  color: $fcText1;
  font-family: $ff;
  font-size: 3.188rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
  position: relative;
  left: -76%;
  top: -24%;

  span {
    position: relative;
    left: -4.5%;
  }
}

.border-slider__base--slide-2,
.border-slider__base--slide-3 {
  span {
    position: relative;
    left: 0;
  }
}

.border-slider__desc {
  font-family: $ff;
  font-size: 1.313rem;
  font-weight: 700;
  line-height: 2.43;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: right;
  position: relative;
  top: -12%;
  left: -77%;
  z-index: 100;

  a {
    color: $fc1;
  }
}

.border-slaider {
  border: solid 0.625rem $fc1;
  position: absolute;
  width: 18.688rem;
  height: 23.625rem;
}

.border-slaider:before {
  content: '';
  height: 9.625rem;
  width: 0px;
  display: block;
  border-left: solid 0.625rem #001c37;
  position: relative;
  left: -0.625rem;
  top: 19.300%;
}

.border-slaider--slide-2:before {
  border-left: solid 0.625rem #343f6a;
}

.border-slaider--slide-3:before {
  border-left: solid 0.625rem #394b77;
}

.border-slaider:after {
  content: '';
  height: 2.563rem;
  width: 0px;
  display: block;
  border-left: solid 0.625rem #001c37;
  position: relative;
  left: -0.625rem;
  top: -24%;
}

.border-slaider--slide-2:after {
  border-left: solid 0.625rem #30325d;
}

.border-slaider--slide-3:after {
  border-left: solid 0.625rem #344974;
}

.slider__border-slider {
  position: absolute;
  right: 23.5rem;
  top: 19.3125rem;
}

/*Кнопки навигации*/
.owl-next>span,
.owl-prev>span {
  color: $fc1;
  font-family: "Myriad Pro";
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.03rem;

  &:hover {
    color: white;
  }
}

.owl-prev span:before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 3px;
  position: relative;
  top: 0.4rem;
  display: inline-block;
  background-image: url(../img/long-arrow-pointing-to-left.png);
  background-repeat: no-repeat;
}

.owl-next span:after {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 3px;
  position: relative;
  top: 0.4rem;
  display: inline-block;
  background-image: url(../img/long-arrow-pointing-to-the-right.png);
  background-repeat: no-repeat;
}

.owl-nav {
  position: absolute;
  top: 50%;
  left: 10%;
  display: inline-block;
}

.slider {
  position: relative;
}

/***************************************************************************/

/*Основной контент***********************************/
/*Секция стартап*/
.row-startup-wrap {
  position: relative;
}

.content-wrap {
  display: flex;
  justify-content: space-between;
}

.row-startup__rectangle {
  width: 16.875rem;
  height: 32.75rem;
  background-color: $fc1;
  opacity: 0.98;
  margin-right: 7.0625rem;
}

.title {
  color: $fc2;
  font-family: $ff;
  font-size: 1.938rem;
  font-weight: 700;
  line-height: 0.88;
  text-transform: uppercase;
  margin: 6.125rem 0 1.75rem 0;
}

.content-desc {
  color: $fcText3;
  font-family: "Segoe UI Emoji";
  font-size: 1.313rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.content-text {
  color: #333333;
  font-family: "Segoe UI Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
  margin-bottom: 2rem;
}

.content-link {
  color: $fc2;
  font-family: $ff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.24;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid $fc2;
}

.row-startup__img {
  position: absolute;
  right: 0;
  top: 6.0625rem;
  z-index: 100;
}

/*************************************************************/

/*Секция с графиком*/
.row-graph {
  background-color: #f4f4f4;
  padding: 6.4375rem 0;
}

/**************************************************************/
/*Секция с кнопкой*/
.row-contact {
  background-color: $fc2;
  padding: 1.5rem 0;
}

.row-contact__text {
  color: $fcText1;
  font-family: $ff;
  font-size: 1.313rem;
  font-weight: 400;
  line-height: 2.43;
}

.row-contact__button {
  width: 10.25rem;
  height: 2.938rem;
  border-radius: 0.188rem;
  background-color: $fc1;
  text-decoration: none;
  text-align: center;
  line-height: 2.9;
  color: $fc2;
  font-family: $ff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.85;

  &:active {
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    opacity: 0.9;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

/**********************************************************************/

/*Секция популярные сервисы*/
.row-pop__heading {
  margin: 0px auto 0px auto;
  width: 46%;
  text-align: center;
}

.row-pop__content {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 5.9375rem;
}

.row-pop__pic {
  width: 100%;
  height: 12.063rem;
  @include bgpos;
}

.row-pop__content figure {
  margin: 0;
}

.row-pop__item {
  width: 31.8%;
}

.row-pop__pic-title {
  color: $fc2;
  font-family: $ff;
  font-size: 1.313rem;
  font-weight: 700;
  line-height: 2.29;
  text-transform: uppercase;
  margin-top: 1.2875rem;
  margin-bottom: 0.6rem;
}

.row-pop__pic-desc {
  color: #333333;
  font-family: "Segoe UI Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.56;
}

/***********************************************************/

/*Секция с ночью*/
.row-night {
  background-image: url(../img/layers.png);
  @include bgpos;
  padding: 8.9375rem 0;
}

.row-night__content {
  display: flex;
  justify-content: space-around;
}

.row-night__item {
  color: $fcText1;
  text-align: center;
}

.row-night__item-text {
  margin: 0;
  font-family: $ff;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
}

.row-night__item-desc {
  font-family: "Segoe UI Emoji";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 3.43;
  text-transform: uppercase;
  letter-spacing: 0.175rem;
}

/*********************************************/

/*Секция с видео*/
.video {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
  position: relative;

  &__restangle {
    width: 16.875rem;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 7.125rem;
    z-index: -1;
    background-color: $fc1;
    opacity: 0.98;
  }

  &__poster {
    position: relative;
    width: 31.1875rem;

    img {
      box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
      opacity: 0.69;
      @include coverpos;
      display: block;
      max-width: 100%;
    }
  }

  &__fon {
    background-color: #002e5b;
    max-width: 100%;
    height: 20.375rem;
  }
}

.title--video {
  margin-top: 0;
}

.video__btn {
  @include coverpos;
  margin: auto;
  width: 6.813rem;
  height: 6.813rem;
  background-color: #eff3f6;
  border-radius: 50%;
  border: none;

  &-icon {
    width: 5.813rem;
    height: 5.813rem;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    @include verAl;

    &:hover {
      cursor: pointer;
    }
  }
}

.video__close {
  border: none;
  background-color: $fc2;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: $fc1;
  font-size: 0.85rem;
  opacity: 0.8;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

/***********************************************/

/*Секция цитаты*/
.row-slogan {
  background-image: url(../img/bg-slogan.png);
  @include bgpos;

  &__text {
    margin: 0 auto;
    text-align: center;
    color: $fcText1;
    font-family: "Myriad Pro";
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.9;
    margin-bottom: 2.9rem;

    &::before {
      content: url(../img/quotes.png);
      line-height: 0.79;
      display: block;
      margin-bottom: 1.7rem;
    }
  }

  &__content {
    text-align: center;
    padding: 7.5rem 0;
  }

  &__link {
    color: $fcText1;
    font-family: $ff;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 3.42;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }

  &__link-wrap {
    @include title(1.5%, 2px, $fcText1);
  }
}

/**************************************************/

/*Секция с картами*/
.row-maps {
  text-align: center;
}

.maps {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;

  &__item {
    width: 31.8%;
    height: 14.9375rem;
    box-shadow: 0 -0.188rem 0.5rem rgba(0, 0, 0, 0.07);
  }
}

.maps-adress {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8.1em;

  &__item {
    width: 31.8%;
    padding-left: 2.31rem;
    box-shadow: 0 0.188rem 0.5rem rgba(0, 0, 0, 0.07);
  }
}

.maps-adress__title {
  color: $fc2;
  font-family: $ff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.86;
  text-transform: uppercase;
  text-align: left;
  margin-top: 2.3rem;
  margin-bottom: 1.5rem;
}

.maps-adress__list {

  // margin-left: 1.5rem;
  &-item {
    color: $fc2;
    font-family: "Segoe UI Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    margin-bottom: 1rem;

    p {
      display: inline-block;
    }
  }
}

.fa-li {
  left: -2.64em;
}

.fa-li.fa-lg {
  left: -2.25em;
}

/*******************************************/

/*Подвал*/
.row-footer {
  background-color: $fc2;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;

    .copy {
      color: $fcText1;
      font-family: $ff;
      font-size: 1rem;
      font-weight: 400;
      line-height: 2.81;
      text-decoration: none;

      span {
        color: #fde52c;
      }
    }

    .social {
      display: flex;
      justify-content: space-between;

      i {
        color: #fbfbfb;
        font-size: 1rem;
        font-weight: 400;
        line-height: 3;
        margin-left: 1rem;
      }
    }
  }
}

/**************************************************/

/*Форма с сообщением*/
.modal-login__wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10000;
}

.modal-login {
  width: 35rem;
  height: 20rem;
  border: 3px solid $fc2;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, .6);
  padding: 10px;
  background: #fff;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  position: relative;
}

.message__hide {
  display: none;
}

.modal-login input {
  margin-top: 1rem;
  color: $fc2;
  width: 18rem;
  font-size: 0.8rem;
  outline: none;
}

#name,
#email {
  border: none;
  border-bottom: 1px solid $fcText3;

  &:focus {
    border-bottom: 2px solid $fc2;
  }
}

.message-form {
  width: 100%;
  height: 10rem;
  border: 1px solid $fcText3;
  resize: none;
  color: $fc2;

  &:focus {
    border: 2px solid $fc2;
    outline: none;
  }
}

.modal-login label {
  margin-top: 1.5rem;
  color: $fcText2;
  font-size: 0.7rem;
}

#btn-clear {
  float: right;
}

#btn-clear,
#btn-message {
  background-color: lighten($fcText3, 40%);
  border: 1px solid $fc2;
  color: $fc2;
}

#btn-close {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.35rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid $fc2;
  color: $fc2;
  background-color: lighten($fcText3, 40%);
  position: absolute;
  top: -0.65rem;
  right: -0.65rem;
  text-align: center;
}

/******************************************/

/*Всплывающие сообщения*/
.chipp {
  padding: 0.5rem 1.5rem;
  margin: 1.5rem 0.5rem;
  border-radius: 12px;
  background: rgba(0, 0, 0, .8);
  color: $fc1;
  font-size: 0.9rem;
  font-weight: bold;
}

.chips-field {
  max-width: 25rem;
  position: fixed;
  right: 40%;
  top: 10px;
}